@import 'tailwindcss';

@theme {
  --font-sans: 'Inter', sans-serif;
  --color-primary: #111827;
}

.MuiAppBar-root {
  background-color: rgba(238, 244, 246, 0.72) !important;
  color: #111827 !important;
}

body {
  @apply font-sans antialiased text-gray-900;
}
